.alert{
    background-color: #EEFFE5;
}
body {
    font-family: "Raleway", sans-serif;
}
.nav-link:hover{
    color: #2E8756;
}
.nav-brand {
    color: #2E8756;
}

.navbar-nav {
    justify-content: end;
}
a {
    text-decoration: none;
}
.blog {
    border-style: none;
}
.overlap-card {
    position: absolute;
    bottom: 20%; 
    left: 50%;
    transform: translateX(-50%);
    width: 300px; 
    z-index: 1;

    background-color: rgba(255, 255, 255, 0.8); 
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
  }
.eathealthybannercard {

      left: 0;
      right: 0;
    }

    .hero-section {
      background: url('images/hero-eat healthy.png') no-repeat center center;
      background-size: cover;
      height: 80vh;
      position: relative;
      display: flex;
      align-items: center;
    }

    .quiz-box {
      background-color: #e8f5e9;
      padding: 1rem;
      border-radius: 10px;
      text-align: center;
      max-width: 400px;
      margin: 0 auto;
    }

    .start-quiz-btn {
      background-color: #2e7d32;
      color: white;
      border: none;
      padding: 0.5rem 1.5rem;
      border-radius: 5px;
      font-size: 1rem;
    }

    .category-box {
      height: 150px;
      border-radius: 20px;
      font-weight: bold;
      font-family: Arial, sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      color: black;
      text-decoration: none;
      font-size: 18px;
    }

    .fruits {
      background-color: #FF8A80;
    }

    .grains {
      background-color: #FFE082;
    }

    .vegetables {
      background-color: #B9F6CA;
    }

    .protein {
      background-color: #B39DDB;
    }

    .diary-center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #82B1FF;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Arial, sans-serif;
      color: black;
      text-decoration: none;
    }

    .grid-container {
      position: relative;
      width: 360px;
      height: 360px;
    }

    .challenge-card {
      background: url('images/30\ day\ challenge-home\ screen.png') no-repeat;
      

    }

    .btn-download {
      background-color: #2e7d32;
      color: #ffffff;
      font-weight: bold;
    }
    .eathealthy-mobile1 {
      margin-left: -5%;
    }
    .eathealthy-mobile2 {
      margin-left: -15%;
      background-color: white;
    }
    .eathealthy-weeklyrecipe1 {
      margin-left: -5%;
      background-color: white;
      z-index: 1;
    }
    .eathealthy-weeklyrecipe2 {
      margin-left: -15%;
      z-index: n-1;
    }
